.add-user-control-wrapper {
    padding: 10px 30px;
    border-bottom: 1px solid lightgray;

    .add-user-name-submit {
        padding: 3px 25px;
        cursor: pointer;
        float: right;
    }
}