.add-hobby-control-wrapper {
    padding: 10px;
    border-bottom: 1px solid lightgray;


    .add-hobby-name-sumbit {
        padding: 3px 25px;
        cursor: pointer;
        float: right;
    }

    .add-hobby-name-input {
        margin-left: 15px;
    }
}